<div class="container">
  <div class="products-grid">
    <mat-card *ngFor="let product of products" class="product-card">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">{{ product.price | currency }}</p>
        <button
          mat-raised-button
          color="primary"
          class="add-button"
          (click)="addToCarrito(product)"
        >
          Agregar al carrito
        </button>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened position="end">
      <app-carrito-compras></app-carrito-compras>
    </mat-sidenav>
    <mat-sidenav-content> </mat-sidenav-content>
  </mat-sidenav-container>
</div>
