.container {
  display: flex;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  flex: 3;
}

.product-card {
  position: relative;
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

mat-card-title {
  text-transform: capitalize;
  flex: 1;
}

.product-description {
  color: #8f8f8f;
}

.product-price {
  color: #3f51b5;
  font-weight: bold;
  font-size: 1.1rem;
}

.add-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.sidenav-container {
  margin-top: 20px;
  flex: 1;
}

mat-sidenav {
  width: 300px;
  max-width: 300px;
}