<div class="col-lg-8 col-md-18 col-sm-12">

  <mat-form-field>
    <mat-label>Filtrar productos</mat-label>
    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue">
  </mat-form-field>

  <button mat-fab (click)="openDialog()"><mat-icon>add</mat-icon></button>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.price | number:'1.2-2' }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.category }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.amount }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
      <mat-cell *matCellDef="let product">{{ product.status }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editDialog(element)" ><mat-icon>edit</mat-icon></button>
      <button mat-icon-button ><mat-icon>delete</mat-icon></button>
      </td>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

</div>
