<mat-toolbar color="primary" class="navbar">
  <button mat-icon-button (click)="toggleSidebar()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Inventario</span>
  <span class="spacer"></span>

  <!-- Opciones del menú en la barra superior -->
  <div class="top-nav-items">
    <a mat-button routerLink="/inicio">Inicio</a>
    <a mat-button routerLink="/productos">Productos</a>
    <a mat-button routerLink="/usuarios">Usuarios</a>
  </div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="over"
    [opened]="isSmallScreen && sidebarOpen"
    (closedStart)="sidebarOpen = false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/inicio">Inicio</a>
      <a mat-list-item routerLink="/productos">Productos</a>
      <a mat-list-item routerLink="/usuarios">Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
